/* GLOBAL STYLES */

body {
	background-color: rgba(22,13,49,1);
	padding: 1.5em 0;
	color: #ebeaf0;
	font-family: 'Muli', sans-serif;
	overflow: hidden;
}

h3 {
	font-size: 26px;
	line-height: 1;
	margin: 0;
	font-weight: 700;
}

h5 {
	font-size: 12px;
	font-weight: 600;
}

li {
	margin-left: -24px; margin-bottom: 9px;
}

i {
	color: #2FDABD;
	margin-right: 10px;
}

hr {
	margin: 8px 0 15px 0;
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: #423875;
	height: 1px;
}

label {
	display: block;
	margin-bottom: 0;
	font-weight: 800;
	color: #2FD9BD;
	font-size: 12px;
}

input[type="text"], input[type="number"] {
	background: none;
	border: none;
	border-bottom: 1px solid #3C93F8;
	outline: none;
	padding: 6px 0;
	font-weight: 300;
}

input[type="checkbox"] {
	margin-right: 4px;
}

input[type="submit"] {
	background: -moz-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: -webkit-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: linear-gradient(to top, #20c4a3 0%, #3dedd4 100%);
	color: #2F2152;
	border-radius: 2px;
	font-weight: 800;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	outline: none;
	padding: 8px 13px 9px 14px;
	cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6E6ECF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #6E6ECF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #6E6ECF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #6E6ECF;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 0 4px;
    background-color: white;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2F2152;
    width: 90%;
    border: 2px solid transparent;
    background-clip: content-box;
}


/* Button Styles */

#bootstrap-overrides .btn {
	background: none;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	outline: none;
	padding: 8px 13px 9px 14px;
	cursor: pointer;
	transition-property: color;
	transition-duration: 150ms;
}

#bootstrap-overrides .btn-primary {
	background: -moz-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: -webkit-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: linear-gradient(to top, #20c4a3 0%, #3dedd4 100%);
	color: #2F2152;
	font-weight: 800;
}

#bootstrap-overrides .btn-secondary {
	background-color: #160d31;
	color: #bbb9c5;
	font-weight: 600;
}

#bootstrap-overrides .btn-secondary:hover, #bootstrap-overrides .btn-controls:hover {
	color: white;
}


/* Text Styles */

.txt-uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.txt-gray {
	color: #86829c;
}



/* LAYOUT AND CONTAINERS */

.main-container {
	width: 450px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: #160D31;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.main-panel {
	padding: 20px 30px;
	background-color: #160d31;
}

.container-load {
	background-color: rgba(47,33,82,.5);
	color: white;
	font-size: 24px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
}

.column-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-center-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.tools-banner {
	background-color: #0a0223;
	padding: 10px 30px;
	text-align: center;
}


/* 1. ENTER DIRECTIONS PANEL */

#enter-directions {
	z-index: 4;
	width: 100%;
	height: 27vh;
	position: relative;
}

#enter-directions input[type="text"] {
	width: 100%;
	font-size: 16px;
}

#directions-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

#directions-container form {
	width: 100%;
	margin-left: 4%;
}

#img-directions {
	width: 13px;
	margin-top: 10px;
}

#directions-controls {
	margin-top: 26px;
}

#directions-controls span {
	margin-bottom: 17px;
	cursor: pointer;
}

#enter-directions i {
	transform: scale(1.5);
	margin-right: 14px;
	color: #5A56A2;
	cursor: pointer;
}

#toggle-controls {
	width: 64px;
	height: 50px;
	border-radius: 4px;
	border: none;
	outline: none;
	position: absolute;
	right: -30px;
	top: 54px;
	z-index: 0;
	background-color: #E1DFEB;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6px;
}

#toggle-controls i {
	color: #160D31;
	margin-right: -33px; margin-top: 3px;
}

#toggle-controls .fa-arrow-left, #toggle-controls .fa-arrow-right {
  -webkit-text-stroke: 1px #E1DFEB;
}


/* 2. ROUTE INFORMATION PANEL */

#route-information {
	background-color: #e1dfeb;
	border-radius: 0 0 6px 6px;
	height: 73vh;
	overflow-y: scroll;
}

table, .adp, .adp-summary, .adp-directions, .adp-placemark, tbody, tr, td {
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	color: #160D31;
	border: none;
	box-shadow: none;
}

table {
	width: 100%
	background-color: #E1DFEB;
}

tr {
	width: 100%;
	background-color: #E1DFEB;
}

.adp-fullwidth td {
	border: none;
	padding: 3px 5px;
}

td.adp-listsel {
	background-color: #3C93F8;
	color: white;
}

.adp-placemark tr {
	border: none;
}


/* 3. SEARCH FILTERS */

#search-filters {
	z-index: 12;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #160D31;
}

#search-filters form {
	margin-top: 8px;
}

.filter-section {
	margin: 12px 0 24px 0;
}

.filter-section input[type="text"], .filter-section input[type="number"] {
	font-size: 24px;
	font-weight: 400;
	border: none;
	background-color: #2F2152;
	padding: 3px 7px;
}

.filter-section input[type="number"] {
	margin-top: 6px;
	width: 4em;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.9px;
  cursor: pointer;
  background: #07011b;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 0px solid rgba(0, 0, 30, 0);
  height: 24px;
  width: 24px;
  border-radius: 95px;
  background: #058beb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #07011b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10.9px;
  cursor: pointer;
  background: #07011b;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 0px solid rgba(0, 0, 30, 0);
  height: 24px;
  width: 24px;
  border-radius: 95px;
  background: #058beb;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #07011b; 07011b
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
  background: #07011b;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 0px solid rgba(0, 0, 30, 0);
  height: 24px;
  width: 24px;
  border-radius: 95px;
  background: #058beb;
  cursor: pointer;
  height: 10.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #07011b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #392864;
}

#crime-window {
	width: 440px;
	max-width: 100%;
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#crime-window-text {
	margin: -40px 10px 24px 0;
	width: 1.85em;
}

#ticks {
	width: 103.5%;
}

.tick {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 8.333%;
}

.tick-mark {
	transform: scale(1,.6);
	margin-bottom: -12px;
	color: #50456c;
}

.score-and-directions{
	background-color: white;
}

.route-score-box{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

#banner-settings {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: 200ms;
}

#banner-settings:hover, #banner-settings:active {
	background-color: #07011b;
}

#banner-settings i {
	transform: scale(.85);
}


/* 4. MAP UI */

#mapid {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

#map-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
}

#map-controls button {
	margin-right: 2px;
}

#bodyContent{
	color: #160D31;
}

.info-date{
	font-weight: bold;
}

#beacon-logo {
	position: absolute;
	top: 14px;
	left: 10px;
	width: 138px;
}

#bootstrap-overrides .btn-controls {
	background-color: #160d31;
	color: #5A5CAB;
	font-weight: 600;
	font-size: 11px;
	padding: 8px 10px 8px 10px;
}

.control-icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}