/* GLOBAL STYLES */

body {
	background-color: rgba(22,13,49,1);
	padding: 1.5em 0;
	color: #ebeaf0;
	font-family: 'Muli', sans-serif;
	overflow: hidden;
}

h3 {
	font-size: 26px;
	line-height: 1;
	margin: 0;
	font-weight: 700;
}

h5 {
	font-size: 12px;
	font-weight: 600;
}

li {
	margin-left: -24px; margin-bottom: 9px;
}

i {
	color: #2FDABD;
	margin-right: 10px;
}

a:focus, a:hover{
	text-decoration: none;
}

hr {
	margin: 8px 0 15px 0;
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: #423875;
	height: 1px;
}

label {
	display: block;
	margin-bottom: 0;
	font-weight: 800;
	color: #2FD9BD;
	font-size: 12px;
}

input[type="text"], input[type="number"] {
	background: none;
	border: none;
	border-bottom: 1px solid #3C93F8;
	outline: none;
	padding: 6px 0;
	font-weight: 300;
}

input[type="checkbox"] {
	margin-right: 4px;
}

input[type="submit"] {
	background: -moz-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: -webkit-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: linear-gradient(to top, #20c4a3 0%, #3dedd4 100%);
	color: #2F2152;
	border-radius: 2px;
	font-weight: 800;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	outline: none;
	padding: 8px 13px 9px 14px;
	cursor: pointer;
	transition-property: filter, color;
	transition-duration: 200ms;
}

input[type="submit"]:hover, input[type="submit"]:active {
	filter: brightness(115%);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6E6ECF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #6E6ECF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #6E6ECF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #6E6ECF;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 0 4px;
    background-color: white;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2F2152;
    width: 90%;
    border: 2px solid transparent;
    background-clip: content-box;
}


/* Button Styles */

#bootstrap-overrides .btn {
	background: none;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	outline: none;
	padding: 8px 13px 9px 14px;
	cursor: pointer;
	transition-property: color, filter;
	transition-duration: 150ms;
}

#bootstrap-overrides .btn:hover, #bootstrap-overrides .btn:active {
	filter: brightness(115%);
}

#bootstrap-overrides .btn-primary {
	background: -moz-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: -webkit-linear-gradient(#20c4a3 0%, #3dedd4 100%);
	background: linear-gradient(to top, #20c4a3 0%, #3dedd4 100%);
	color: #2F2152;
	font-weight: 800;
}

#bootstrap-overrides .btn-secondary {
	background-color: #160d31;
	color: #bbb9c5;
	font-weight: 600;
}

#bootstrap-overrides .btn-secondary:hover, #bootstrap-overrides .btn-controls:hover {
	color: white;
}


/* Text Styles */

.txt-uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.txt-gray {
	color: #86829c;
}

.txt-white {
	color: white;
}

.txt-purple {
	color: #6A6AC6;
}

.txt-dark {
	color: #160D31;
}

.txt-dark:hover{
	text-decoration: none;
}

.txt-blue {
	color: #3C93F8;
}

/* LAYOUT AND CONTAINERS */

.main-container {
	width: 450px;
	max-width: 87.5%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #160D31;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

@media (max-width: 525px){
	.main-container {
		width: 275px;
	}
}

.main-panel {
	padding: 20px 30px;
	background-color: #160d31;
}

.panel-body {
	color: #160D31;
}

.container-load {
	background-color: rgba(47,33,82,.5);
	color: white;
	font-size: 24px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
}

.column-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-center-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.tools-banner {
	background-color: #0a0223;
	padding: 20px 30px;
	text-align: center;
}


/* LOADING SCREENS */

#map-loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #160D31;
	z-index: 100;
}

#map-loading-overlay img {
	width: 300px;
	max-width: 80vw;
	margin-bottom: 40px;
}

.crimes-loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(22,13,49,.75);
	z-index: 99;
}



/* 1. ENTER DIRECTIONS PANEL */

#enter-directions {
	z-index: 4;
	width: 100%;
	height: 185px;
	position: relative;
}

#enter-directions input[type="text"] {
	width: 100%;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 525px){
	#enter-directions input[type="text"] {
		font-size: 12px;
	}
}

#directions-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

#directions-container form {
	width: 100%;
	margin-left: 4%;
}

#img-directions {
	width: 13px;
	margin-top: 10px;
}

#directions-controls {
	margin-top: 26px;
}

#directions-controls span {
	margin-bottom: 17px;
	cursor: pointer;
}

#directions-controls span:hover > i {
	color: #2FD9BD;
}

#directions-controls span i, #accordion .fa-chevron-circle-down {
	transform: scale(1.5);
	margin-right: 14px;
	color: #5A56A2;
	cursor: pointer;
	transition-property: color;
	transition-duration: 200ms;
}

#accordion p{
	font-size: 13px;
}

#accordion .panel-heading:hover .fa-chevron-circle-down{
	color: #2FD9BD;
}

#toggle-controls {
	width: 64px;
	height: 50px;
	border-radius: 4px;
	border: none;
	outline: none;
	position: absolute;
	right: -30px;
	top: 54px;
	z-index: 0;
	background-color: #E1DFEB;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6px;
}

#toggle-controls i {
	color: #160D31;
	margin-right: -33px; margin-top: 3px;
}

#toggle-controls .fa-arrow-left, #toggle-controls .fa-arrow-right {
  -webkit-text-stroke: 1px #E1DFEB;
}


/* 2. ROUTE INFORMATION PANEL */

#route-information {
	background-color: #e1dfeb;
	border-radius: 0 0 6px 6px;
	height: calc(100% - 185px);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

table, .adp, .adp-summary, .adp-directions, .adp-placemark, tbody, tr, td {
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	color: #160D31;
	border: none;
	box-shadow: none;
}

table {
	width: 100%
	background-color: #E1DFEB;
}

tr {
	width: 100%;
	background-color: #E1DFEB;
}

.adp-fullwidth td {
	border: none;
	padding: 3px 5px;
}

td.adp-listsel {
	background-color: #3C93F8;
	color: white;
}

.adp-placemark tr {
	border: none;
}

/* 3. SEARCH FILTERS */

#search-filters {
	z-index: 12;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #160D31;
}

#search-filters form{
	height: calc(100% - 40px);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

}

@media (max-width: 525px){
	#search-filters form{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

#search-filters form {
	margin-top: 8px;
}

.filter-section {
	margin: 12px 0 24px 0;
}

.filter-section input[type="text"], .filter-section input[type="number"] {
	font-size: 24px;
	font-weight: 400;
	border: none;
	background-color: #2F2152;
	padding: 3px 7px;
}

.filter-section input[type="number"] {
	margin-top: 6px;
	width: 4em;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.9px;
  cursor: pointer;
  background: #07011b;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 0px solid rgba(0, 0, 30, 0);
  height: 24px;
  width: 24px;
  border-radius: 95px;
  background: #058beb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #07011b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10.9px;
  cursor: pointer;
  background: #07011b;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 0px solid rgba(0, 0, 30, 0);
  height: 24px;
  width: 24px;
  border-radius: 95px;
  background: #058beb;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #07011b; 07011b
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
  background: #07011b;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 49, 0), 0px 0px 0px rgba(0, 0, 75, 0);
  border: 0px solid rgba(0, 0, 30, 0);
  height: 24px;
  width: 24px;
  border-radius: 95px;
  background: #058beb;
  cursor: pointer;
  height: 10.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #07011b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #392864;
}

#crime-window {
	width: 440px;
	max-width: 100%;
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#crime-window-text {
	margin: -40px 10px 24px 0;
	width: 4em;
}

#ticks {
	width: 103.5%;
}

.tick {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 8.333%;
}

.tick-mark {
	transform: scale(1,.6);
	margin-bottom: -12px;
	color: #50456c;
}

.score-and-directions{
	background-color: white;
}

.route-score-box{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	padding-bottom: 20px;
	color: #160D31;
}

.route-score-box>div{
	opacity: 0.5;
}

.route-score-box div:hover{
	cursor: pointer;
	opacity: 1.0;
}

.route-score-box .selected-route{
	opacity: 1.0;
}
@media (max-width: 525px){
	.route-score-box h4{
		font-size: 13px;
	}
	.main-panel{
		padding: 10px 15px;
	}
}

.row-flex {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.route-score-box h4{
	font-weight: 700;
}

#bootstrap-overrides .badge {
	background-color: #160D31;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 14px 5px 5px 5px;
}

#banner-settings {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: 200ms;
}

#banner-settings:hover, #banner-settings:active {
	background-color: #07011b;
}

#banner-settings i {
	transform: scale(.85);
}


/* 4. MAP UI */

#mapid {
	height: 100%;
	width: calc(100% - 450px);
	position: absolute;
	left: 450px;
	top: 0;
	z-index: -2;
}

#map-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
}

@media (max-width: 525px){
	#mapid {
		width: calc(100% - 275px);
		left: 275px;
	}
}

@media (max-width: 900px){
	#map-controls{
		display: flex;
		flex-direction: column;
	}
	#map-controls button{
		margin-bottom: 5px;
	}
}

#map-controls button {
	margin-right: 2px;
}

#bodyContent{
	color: #160D31;
}

.info-date{
	font-weight: bold;
}

#beacon-logo {
	position: absolute;
	top: 14px;
	left: 11px;
	width: 138px;
}

#bootstrap-overrides .btn-controls {
	background-color: #160d31;
	color: #5A5CAB;
	font-weight: 600;
	font-size: 11px;
	padding: 8px 10px 8px 10px;
}

.control-icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.panel-collapse{
	max-height: 50vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
