<div class="main-container">

  <!-- Enter Directions -->
  <div class="main-panel" id="enter-directions" ng-show="mapComp.showSettings === false">
  	<div id="directions-container">
	  	<img src="../../img/directions.svg" alt="enter directions" id="img-directions">
	  	<form ng-submit="mapComp.calcRoute()">
	  	  <div class="form-group">
	  	    <input type="text" id="start-input" placeholder="Choose starting point&hellip;" ng-model="mapComp.start">
	  	  </div>
	  	  <div class="form-group">
	  	    <input type="text" id="end-input" placeholder="Choose destination&hellip;" ng-model="mapComp.end">
	  	  </div>
	  	  <div class="align-center-space" id="directions-controls">
          <div class="form-group">
            <input type="submit" value="GO &rarr;">
          </div>
		  	  <span class="align-center" ng-click="mapComp.showSettings = !mapComp.showSettings">
		  	  	<i class="fa fa-sliders" aria-hidden="true"></i> 
		  	  	<h5 class="txt-uppercase">Filters</h5>
		  	  </span>
		  	</div>
	  	</form>
	  </div>
  </div>


  <!-- Route(s) Information -->
	<div class="main-panel" id="route-information" ng-show="mapComp.countedCrimes.length !== undefined">
    <div class="route-score-box">
      <div ng-if="mapComp.countedCrimes[0].length > 1">Route 1 <span class="badge">{{mapComp.countedCrimes[0].length}}</span></div>
      <div ng-if="mapComp.countedCrimes[1].length > 1">Route 2 <span class="badge">{{mapComp.countedCrimes[1].length}}</span></div>
      <div ng-if="mapComp.countedCrimes[2].length > 1">Route 3 <span class="badge">{{mapComp.countedCrimes[2].length}}</span></div>
    </div>
    <div id="directionsPanel">
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="route.length>0" ng-repeat="route in mapComp.countedCrimes track by $index">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
            <h4 class="panel-title">
                Route #{{$index+1}} Crime Data
            </h4>
          </a>
        </div>
        <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div ng-repeat="crime in route track by $index">
              <p><strong>{{crime.event_clearance_date}}</strong></p>
              <p>{{crime.event_clearance_description}} &mdash; {{crime.initial_type_description}}</p>
              <p>{{crime.hundred_block_location}}</p>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Search Filters -->
  <div id="search-filters" ng-show="mapComp.showSettings">

    <div class="tools-banner" id="banner-settings" ng-click="mapComp.showSettings = !mapComp.showSettings">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <h5 class="txt-uppercase">Save &amp; return</h5>
    </div>

    <form class="list main-panel">
    	<h3>Search Filters</h3>
    	<hr>
    	<div class="filter-section">
    		<label class="txt-uppercase">Crimes</label>
    		<input type="checkbox" name="Physical" value="Physical" id="filter-crime-physical" ng-click="mapComp.checkBox(); mapComp.getCrimes(mapComp.box)" checked> 
    			Physical Harm <span class="txt-gray">(Homicide / Assault / Mugging)</span><br>
    		<input type="checkbox" name="Weapons" value="Weapons" id="filter-crime-weapon" ng-click="mapComp.checkBox(); mapComp.getCrimes(mapComp.box)" checked> 
    			Weapons <span class="txt-gray">(Armed Robbery / Person With a Gun / Carrying Weapon)</span><br>
    		<input type="checkbox" name="Vehicle" value="Vehicle" id="filter-crime-vehicle" ng-click="mapComp.checkBox(); mapComp.getCrimes(mapComp.box)" checked> 
    			Vehicle <span class="txt-gray">(Auto Theft / Car Prowl)</span><br>
    		<input type="checkbox" name="Jerk" value="Jerk" id="filter-crime-jerk" ng-click="mapComp.checkBox(); mapComp.getCrimes(mapComp.box)" checked> 
    			Just Being a Jerk <span class="txt-gray">(Harassment / Threats)</span><br>
    	</div>

    	<div class="filter-section">
    		<label class="txt-uppercase">Crime Window</label><br>
    		<input type="text" ng-model="mapComp.crimeWindow" id="crime-window-text" ng-keydown="mapComp.delayBeforeSearch()"> hours before/after now
    		<div id="crime-window">
    			<input type="range" min="1" max="12" step="1" ng-model="mapComp.crimeWindow" id="crime-window-range">
    			<div style="display: flex; justify-content: space-between;" id="ticks">
    				<div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index" class="tick">
    					<p class="tick-mark">|</p>
    					<h6>{{$index+1}}</h6>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="filter-section">
  	  	  <label class="txt-uppercase" for="padding">Route Boundary Padding (0 - 0.01)</label>
  	  	  <input name="padding" type="number" step=".001" ng-model="mapComp.padding"/>
  	  </div>

  	  <div class="filter-section">
  	  	  <label class="txt-uppercase" for="sensitivity">Crime Detection Sensitivity (1 - 5)</label>
  	  	  <input name="sensitivity" type="number" ng-model="mapComp.sensitivity"/>
  	  </div>
    </form>
  </div>

  <!--  Show/hide controls  -->
  <button ng-click="mapComp.showControls = !mapComp.showControls; mapComp.toggleControls()" id="toggle-controls">
    <i class="fa fa-arrow-left" aria-hidden="true" ng-show="mapComp.showControls === true"></i>
    <i class="fa fa-arrow-right" aria-hidden="true" ng-show="mapComp.showControls === false"></i>
    <i class="fa fa-bars" aria-hidden="true"></i>

  </button>

</div>


<!-- Map Area -->
<div id="map">
  <img src="../../img/beacon_logo.svg" alt="enter directions" id="beacon-logo">
	<div id="map-controls" ng-show="mapComp.countedCrimes.length !== undefined">
    <button class="btn btn-controls" ng-click="mapComp.toggleHeatmap()">
      <img src="../../img/control-icon_heatmap-inactive.svg" alt="hide border" class="control-icon"> 
      Heatmap
    </button>
		<button class="btn btn-controls" ng-click="mapComp.toggleBorder()">
      <img src="../../img/control-icon_border-inactive.svg" alt="hide border" class="control-icon"> 
      Border
    </button>
		<button class="btn btn-controls" ng-click="mapComp.toggleTraffic()">
      <img src="../../img/control-icon_traffic-inactive.svg" alt="hide border" class="control-icon"> 
      Traffic
    </button>
		<button class="btn btn-controls" ng-click="mapComp.addCrimeMarkers()">
      <img src="../../img/control-icon_crimes-inactive.svg" alt="hide border" class="control-icon"> 
      add crimes
    </button>
		<button class="btn btn-controls" ng-click="mapComp.removeCrimeMarkers()">
      <img src="../../img/control-icon_crimes-inactive.svg" alt="hide border" class="control-icon"> 
      remove crimes
    </button>
	</div>
	<div id="mapid">
		<div class="container-load">
			<div>
				Loading map. Please wait.
			</div>
		</div>
	</div>
</div>