
<form ng-submit="mapComp.calcRoute()">
  <label>Starting point:</label>
  <input type="text" placeholder="Choose starting point" ng-model="mapComp.start">
  <label>Destination:</label>
  <input type="text" placeholder="Choose destination" ng-model="mapComp.end">
  <input type="submit" value="Search">
</form>

<div id="mapid">
  <div class="container-load">
    <div>
      Loading map. Please wait.
    </div>
  </div>
</div>

<button ng-click="mapComp.calcRoute()">Calc Route</button>
<button ng-click="mapComp.addMarkers()">Add Markers</button>
<button ng-click="mapComp.removeMarkers()">Remove Markers</button>

<div id="directionsPanel">

</div>
